@import url('fonts.css');

html{
    font-size: 16px;
    font-family: "Vazir",sans-serif;
}
body{
background-color:#fff ;
}

/*Navbar-------Section*/

.navbar{
    background-color: #fff;
    height: 5rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);/*یک کادر ریز بهش میدیم*/
}

.container{
    max-width: 1440px;
    /* مارجین را آتو قرار میدهیم تا کلاس وسط صفحه قرار بگیرد */
    margin: auto;
    /* صد درصد قرار میدهیم تا از کناره صفحه فاصله بگیرد و حدودی وسط بیوفتد */
    width: 100%;

}

.navbar__section{
    display: flex;
    align-items: center;/*برای وسط چین شدن متنها در باکس*/
    height: 100%;
}
.navbar__links{
    display:flex; /*برای خط چین شدن نوشته ها*/
}
    .navbar__links li{
        margin-right: 2.2rem;/*برای فاصله افتادن بین نوشته ها*/
        font-weight:lighter;
    }

    /*Hero-------Section*/

    .hero__section{
        display: flex;/*به صورت سطری در میآید*/
    }
.hero__section__intro{
    background-color: #21aa58;
    color: #fff;
    width: 50%;/*50درصد صفحه رو به خودش اختصاص بدهد*/
}
.hero__section__pic{
    /*در اینجا به جای تگ ایمیج درفایل ایندکس از پراپرتی بکگراند استفاده میکنیم*/
    background-image: url(https://web-cdn.snapp.ir/snapp-website/images/homepage/intro_desktop.jpg);
    min-height: 40vh;
    width: 50%;/*50درصد صفحه رو به خودش اختصاص بدهد*/
    background-position: center center;/*برای وسط انداختن تصویر در محور x,y*/
    background-size: cover;/*we put cover to cover the hole pic in the flex*/
    transform: scaleX(-1);/*to reverse the pic*/
}
