@import url('fonts.css');

html{
    font-size: 16px;
    font-family: "Vazir",sans-serif;
}
body{
background-color: red;
}
.navbar{
    background-color: #fff;
    height: 5rem;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);/*یک کادر ریز بهش میدیم*/
}

.container{
    max-width: 1440px;
    /* مارجین را آتو قرار میدهیم تا کلاس وسط صفحه قرار بگیرد */
    margin: auto;
    /* صد درصد قرار میدهیم تا از کناره صفحه فاصله بگیرد و حدودی وسط بیوفتد */
    width: 100%;

}

.navbar__section{
    display: flex;
    align-items: center;/*برای وسط چین شدن متنها در باکس*/
    height: 100%;
}
.navbar__links{
    display:flex; /*برای خط چین شدن نوشته ها*/
}
    .navbar__links li{
        margin-right: 2.2rem;/*برای فاصله افتادن بین نوشته ها*/
        font-weight:lighter;
    }
